:root {
  --red: #e40c2b;
  --black: #1d1d2c;
  --bg-color: #f7f4e9;
  --blue: #3cbcc3;
  --yellow: #eba63f;
  --green: #438945;
}
@font-face {
  font-family: "Cookie-regular";
  src: url("./assets/font/CookieRun-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Cookie-black";
  src: url("./assets/font/CookieRun-Black.ttf") format("truetype");
}

body {
  height: 100vh;
  background-color: var(--bg-color);
}

h1 {
  font-family: "Cookie-black", sans-serif;
}

input {
  width: 25rem;
  height: 1rem;
  padding: 0.5rem;
  margin: 0.2rem auto;
  font-size: 1rem;
  display: block;
}

ul,
li {
  all: unset;
}

/* Buttons */
.main-big-btn {
  /* all: unset; */
  all: unset;
  cursor: pointer;
  width: 8rem;
  height: 2rem;
  background-color: var(--blue);
  font-family: "Cookie-regular", sans-serif;
  color: var(--bg-color);
  border-radius: 10px;
  margin: 0.2rem;
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-red {
  background-color: var(--red);
}

/* Effect */
/* https://www.codesdope.com/blog/article/12-creative-css-and-javascript-text-typing-animati/ */
.typing {
  border-right: solid 3px var(--blue);
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 45%;
  }
}
@keyframes animated-cursor {
  from {
    border-right-color: var(--blue);
  }
  to {
    border-right-color: transparent;
  }
}

/* Welcome Page */

.welcome-page {
  margin: 4rem auto;
}

.welcome-title {
  font-family: "Cookie-black", sans-serif;
  font-size: 4rem;
  text-align: center;
}

.welcome-desc {
  font-family: "Cookie-regular", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
}

.main-title {
  font-family: "Cookie-black", sans-serif;
  font-size: 3rem;
  text-align: left;
  margin-bottom: 3rem;
  margin-right: 1rem;
  display: inline-block;
  text-align: unset;
}

.login-form-container,
.signup-form-container {
  text-align: center;
  width: 35rem;
  padding: 3rem;
  margin: 3rem auto;
  /* border: 1px solid var(--black); */
  box-shadow: 2px 3px 10px -2px var(--black);
}

.welcome-footer {
  font-family: "Cookie-regular", sans-serif;
  text-align: center;
  color: var(--black);
}

/* Main Page */
.main-page {
  width: 90vw;
  text-align: center;
  margin: 4rem auto;
}

/* Components */
.chatroom-container {
  width: 70%;
  height: auto;
  /* background-color: blue; */
  float: left;
}

.chat-messages {
  overflow: auto;
  height: 40rem;
}

#chat-message_input {
  width: 40rem;
  display: inline-block;
}

.sidebar-container {
  width: 30%;
  min-height: 20rem;
  height: auto;
  /* background-color: green; */
  box-shadow: 2px 3px 10px -2px var(--black);
  /* display: inline-block; */
  float: right;
}

.list-user {
  display: block;
  height: 2.5rem;
  width: 50%;
  text-align: center;
  /* Vertically Centered */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* ------------------ */
  font-family: "Cookie-regular", sans-serif;
  background-color: var(--blue);
  color: var(--bg-color);
  margin: 0.2rem auto;
}

.users {
  display: block;
  min-height: 13rem;
  height: auto;
}

/* .room-exit {
  position: sticky;
  bottom: 0;
} */

.logout-btn {
  display: inline-block;
}

/* Message */
.message {
  padding: 0.5rem 5rem;
  text-align: left;
}

.right {
  text-align: right;
}

.message-info {
  font-family: "Cookie-regular", sans-serif;
  color: var(--blue);
}

.message-info span {
  color: var(--yellow);
  font-size: 0.7rem;
}

.me {
  color: var(--yellow);
}
